.mainDash {
     
    border-style: solid;
    height: 280px;
    width: 480px;
    color: white;
    border-radius: 100px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    background-color: gray;
    font-size: 10px;
}

.labelForm {
    font-size: 20px;
    margin-top: 400px;
}

.formLogin {
    margin-top: 5px;
    margin-bottom: 20px;
}
.formPassword {
    margin-top: 5px;
    margin-bottom: 20px;
}
.formButton {
    margin-left:20px;
}
.formButton {
    padding-top: 10px;
    text-align: center;
}
#submit {
    margin-right: 5px;
}
