@keyframes titleAnimation {
    from{color: transparent;}
    to{color:gray;}
}
.Intro {
    text-align: center;
    padding-top: 10px;
    background-color: white;
    color: gray;
}

.title {
    animation-name: titleAnimation;
    animation-duration: 3.5s;
    color: gray;
}